<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="StyleSheet.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="header">
        ASP.NET CORE DEMO APP
    </div>
</div>
<div>
    @RenderBody();
</div>

</body>
</html>