@using P05_Views.Models
@model IEnumerable<Person>
@{
    // List<Person>? people = (List<Person>)ViewData["people"];
    // List<Person> people = ViewBag.people;
}

@{
    int? GetAge(DateTime? dateOfBirth)
    {
        if (dateOfBirth is not null)
        {
            return (int)Math.Round((DateTime.Now - dateOfBirth).Value.TotalDays / 365);
        }

        return null;
    }
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["appTitle"]</title>
    <meta charset="UTF-8"/>
</head>
<body>


@foreach (Person p in Model)
{
    <div>
        <span>@p.Name, </span>
        <span>@p.PersonGender, </span>

        @p.DateOfBirth?.ToString("MM/dd/yyyy")
        <span>,@GetAge(p.DateOfBirth) years old</span>
        
    </div>
}
</body>
</html>