@{
    ViewBag.Title = "Home~";
}
<h1>Home!</h1>
<div class="box">
    Environment: @ViewBag.CurrentEnvironment
</div>

<environment include="Staging">
    <button class="button button-blue-back">
        Button only for Staging Environment
    </button>
</environment>

<environment exclude="Development">
    <button class="button button-green-back">
        Button only for except Development Environment
    </button>
</environment>

