<div class="list-container">

    <h3>@(ViewBag.ListTitle ?? "Default Title")</h3>

    <ul class="list">
        @if (@ViewBag.ListItems != null)
        {
            foreach (string city in @ViewBag.ListItems)
            {
                <li>@city</li>
            }
        }
        else
        {
            <li>No items available</li>
        }
    </ul>
</div>